# Flutter / Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies

# IDEs
.idea/
.vscode/
*.iml

# Mac / Windows
.DS_Store
Thumbs.db

# Logs
*.log